body,
div,
img,
p,
i,
li,
ul,
strong,
span,
a,
em,
del,
ins,
input,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #616161;
}
input {
  border: none;
  outline: none;
}
img {
  border: none;
  vertical-align: middle;
}
i {
  font-style: normal;
}
body {
  font-size: 12px;
  color: #616161;
}
em {
  font-style: normal;
}
.clearfix::after {
  content: ".";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
.clearfix {
  *z-index: 1;
}
.container .nav {
  width: 666px;
  height: 21px;
  background: url("../images/nav_bg_40b6293.png") no-repeat;
  margin: 831px auto 29px;
}
.container .nav a {
  display: inline-block;
  width: 179px;
  height: 42px;
  margin: -11px 0 0 59px;
}
.container .nav .nav3 {
  background: url("../images/nav3_19f233b.png");
}
.container .nav .nav3:hover {
  background: url("../images/nav3_h_321d2ae.png");
}
.container .nav .nav2 {
  background: url("../images/nav2_f199f64.png");
  margin-left: 2px;
}
.container .nav .nav2:hover {
  background: url("../images/nav2_h_44fc429.png");
}
.container .nav .nav1 {
  background: url("../images/nav1_h_5547d43.png");
  margin-left: 2px;
}
.container .nav .nav1:hover {
  background: url("../images/nav1_h_5547d43.png");
}
.container .content {
  background: url("../images/bg2_af7e1ad.jpg") no-repeat top center;
  width: 100%;
  height: 1262px;
}
.container .content .txt {
  text-align: center;
  color: #1c1c1b;
  font-size: 15px;
  line-height: 42px;
  padding-top: 47px;
  animation: fadeIn 10s;
}
.container .content .rules {
  width: 1200px;
  margin: 70px auto 0;
}
.container .content .rules p {
  color: #bba372;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.container .content .rules span {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  width: 448px;
  line-height: 25px;
}
.container .content .rules i {
  position: absolute;
  width: 48px;
  height: 3px;
  background: #bba372;
  top: 229px;
}
.container .content .rules .award {
  margin-top: 156px;
  font-size: 14px;
  position: relative;
  animation: fadeInLeft 9s;
}
.container .content .rules .award p {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  line-height: 15px;
}
.container .content .rules .award img {
  display: inline-block;
  width: 158px;
  height: auto;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 48px;
}
.container .content .rules .award strong {
  font-weight: normal;
  color: #b19a6c;
  position: absolute;
  left: 89px;
  top: 140px;
}
.container .content .rules .award b {
  display: inline-block;
  vertical-align: top;
  width: 171px;
  height: 157px;
  background: url("../images/cyj_8408011.png") no-repeat;
  margin-left: 57px;
}
.container .content .rules ._left {
  float: left;
  position: relative;
  animation: fadeIn 8s;
}
.container .content .rules ._left i {
  left: 0;
}
.container .content .rules ._right {
  animation: fadeIn 8s;
  float: right;
  position: relative;
}
.container .content .rules ._right p {
  text-align: right;
}
.container .content .rules ._right span {
  text-align: right;
  margin-left: 55px;
  width: 453px;
}
.container .content .rules ._right .noright {
  text-align: left;
}
.container .content .rules ._right i {
  right: 0;
}
.container .content .rules ._right .award {
  margin-top: 151px;
  animation: fadeInRight 9s;
}
.container .content .rules ._right .award .noright {
  text-align: left;
}
.container .content .rules ._right .award b {
  background: url("../images/rwj_8bfe437.png") no-repeat;
  margin-right: 50px;
  margin-left: 20px;
}
.container .content .rules ._right .award img {
  margin-left: 0;
  margin-right: 28px;
}
audio {
  display: none;
}
