/* 阴影模块 */
.login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.login .yun {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../images/ny-images/登录透明背景.png') no-repeat 19px 39px;
    background-size: 85%;
}

.login .login-content {
    position: fixed;
    top: 85px;
    left: 50%;
    margin-left: -398px;
    width: 796px;
    height: 545px;
    background-color: #fff;
    background: url('../images/ny-images/登录背景.png') no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}

.login .login-content .login-content-close {
    position: absolute;
    top: 0;
    right: -60px;
    width: 30px;
    height: 30px;
    background: url('../images/ny-images/取消.png');
    cursor: pointer;
}

.login .login-content .info {
    position: absolute;
    margin: 195px 198px 0;
    width: 400px;
    height: 360px;
}

.login .login-content .info div {
    width: 100%;
    height: 40px;
    border: 1px solid #b3b3b3;
    margin-bottom: 22px;
    overflow: hidden;
    border-radius: 5px;
}

.login .login-content .info div input {
    width: 80%;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    background-color: transparent;
    display: inline-block;
}

.login .login-content .info .xitong {
    display: flex;
    text-align: center;
}

.login .login-content .info .xitong div {
    width: 50%;
    height: 100%;
    border-collapse: collapse;
    line-height: 40px;
    border: none;
    cursor: pointer;
}

.login .login-content .info .xitong div:nth-child(1) {
    background-color: #000;
    color: #fff;
    border-radius: 0;
}

.login .login-content .info .xitong div:nth-child(2) {
    background-color: #fff;
    color: #000;
    border-radius: 0;
}

.login .login-content .info .tel {
    width: 100%;
}

.login .login-content .info .yanzhen1 input {
    width: 267px;
    vertical-align: top;
}

.login .login-content .info .yanzhen1 span {
    display: inline-block;
    width: 118px;
    height: 40px;
    background: url("../images/ny-images/验证码.jpg") no-repeat 100%;
    background-size: contain;
    cursor: pointer;
}

.login .login-content .info .yanzhen2 input {
    width: 266px;
    vertical-align: top;
}

.login .login-content .info .yanzhen2 span {
    display: inline-block;
    width: 118px;
    height: 40px;
    background: transparent;
    background-size: contain;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.login .login-content .info .button {
    width: 100%;
    height: 50px;
    background-color: #999;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.login .login-content .info .button a {
    display: block;
    width: 100%;
    height: 100%;
}

.login .login-content .info .tip {
    position: absolute;
    border: none;
    font-size: 14px;
    display: none;
}

.login .login-content .info .tip i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 100%;
    text-align: center;
    line-height: 14px;
    color: #fff;
}

.login .login-content .info .tip1 {
    top: 78px;
    right: -413px;
}

.login .login-content .info .tip2 {
    top: 142px;
    right: -413px;
}

.login .login-content .info .tip3 {
    top: 206px;
    right: -414px;
}

.login .login-content .info .true i {
    background-color: green;
}

.login .login-content .info .tip4 {
    top: 78px;
    right: -413px;
}

.login .login-content .info .tip5 {
    top: 142px;
    right: -413px;
}

.login .login-content .info .tip6 {
    top: 206px;
    right: -414px;
}

/* 取消按钮的动画剧本 */
@keyframes close {
    to {
        transform: rotate(180deg);
    }
}

@keyframes close1 {
    to {
        transform: rotate(180deg);
    }
}